{% extends "layout.html" %}

{% block content %}

<section class="row padding-top-30">
    <div class="col-12">
        <h1 class="text-center">Contact Me</h1>
    </div>
</section>
<section class="row">
    <div class="col-12 contacts">
        <a href="mailto:soniarizzo.dev@gmail.com" class="smaller"><i class="far fa-envelope"></i>soniarizzo.dev@gmail.com</a>
        <a href="https://www.linkedin.com/in/sonia-rizzo-dev/" target="_blank"><i class="fab fa-linkedin"></i>Linked In</a>
        <a href="https://github.com/soniarizzodev" target="_blank"><i class="fab fa-github"></i>GitHub</a>
        <a href="https://twitter.com/soniasunset" target="_blank"><i class="fab fa-twitter"></i>Twitter</a>
        <a href="https://www.instagram.com/soniarizzo_ofc/" target="_blank"><i class="fab fa-instagram"></i>Instagram</a>
    </div>
</section>
{% endblock %}
