{% extends "layout.html" %}

{% block content %}

<section class="row full-height">
    <div class="col-12 v-center">
        <div class="welcome">
            <p class="super-big-text">Welcome :)</p>
            <p>I'm Sonia: Full Stack developer, car enthusiast, amateur musician, aunty and a bunch of other things.</p>
            <p>You can see some of my works on the <a class="bold" href="{{url_for('portfolio')}}">Portfolio</a> page, find out 
            more about me on the <a class="bold" href="{{url_for('about')}}">About</a> page, take a look at my <a class="bold" href="{{url_for('todo')}}">Tech Todo List</a> or contact me <a class="bold" href="{{url_for('contact')}}">here</a>.</p>           
            <p>It's nice to have you here!</p>
            <p class="ps"><strong>P.S.</strong>: If you're feeling curious, you can check out the code for this very website on <a class="bold" href="https://github.com/soniarizzodev/SoniaRizzoDev" target="_blank" rel="noopener">GitHub</a></p>
        </div>
        
    </div>
</section>

{% endblock %}
