{% extends "layout.html" %}

{% block content %}

<section class="row">
    <div class="col-12">
        <div class="welcome">
            <p class="super-big-text">Welcome :)</p>
            <p>I'm Sonia: Full Stack developer, car enthusiast, amateur musician, aunty and a bunch of other things.</p>
            <p>You can see some of my works on the <a href="{{url_for('portfolio')}}">Portfolio</a> page, find out more about me on the <a href="{{url_for('about')}}">About</a> page, or contact me <a href="{{url_for('contact')}}">here</a>.</p>
            <p>It's nice to have you here!</p>
        </div>
        
    </div>
</section>

{% endblock %}
