<!DOCTYPE html>
<html lang="en">
<head>
    {% block head %}
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <meta property="og:title" content="Sonia Rizzo Dev - Online Portfolio">
    <meta property="og:description" content="Let's find out more about this human who codes">
    <meta property="og:image" content="static/imgs/preview.jpg">
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:image" content="static/imgs/preview.jpg">
    <meta name="twitter:site" content="@soniasunset" />
    <meta name="twitter:title" content="Sonia Rizzo Dev - Online Portfolio" />
    <meta name="twitter:description" content="Let's find out more about this human who codes" />
    <meta name="twitter:image" content="static/imgs/preview.jpg"

    <title>Sonia Rizzo Dev - Online Portfolio and a few other things</title>
    <link rel="shortcut icon" href="{{ url_for('static', filename='imgs/favicon.ico') }}" type="image/x-icon">
    <link rel="icon" href="{{ url_for('static', filename='imgs/favicon.ico') }}" type="image/x-icon">
    <link rel="stylesheet" type="text/css" href="/static/bootstrap/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="/static/content/site.css" />
    <link rel="stylesheet" type="text/css" href="/static/content/bootstrap_custom.css" />
    <link href="https://fonts.googleapis.com/css?family=Barlow:200,300,400,500,700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Lobster&display=swap&text=SoniaRizzo" rel="stylesheet">
    <script src="https://kit.fontawesome.com/28a3e25124.js" crossorigin="anonymous"></script>
    {% endblock %}
</head>

<body>
    <nav class="navbar navbar-expand-lg fixed-top">
        <a class="navbar-brand" href="{{url_for('home')}}">Sonia Rizzo</a>
        <div class="menu-toggle" aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation">
            <span></span>
            <span></span>
            <span></span>
            <span></span>
        </div>
        <div class="navbar-collapse collapse" id="navbar">
            <div class="navbar-nav">
                <a class="nav-item nav-link" href="{{url_for('home')}}">Home</a>
                <a class="nav-item nav-link" href="{{url_for('about')}}">About</a>
                <a class="nav-item nav-link" href="{{url_for('portfolio')}}">Portfolio</a>
                <a class="nav-item nav-link" href="{{url_for('todo')}}">Tech TODO</a>
                <a class="nav-item nav-link" href="{{url_for('contact')}}">Contact Me</a>
            </div>
        </div>
    </nav>
    <nav class="mobile-nav" id="mobile-nav">
        <div class="navbar-nav">
            <a class="nav-item nav-link" href="{{url_for('home')}}">Home</a>
            <a class="nav-item nav-link" href="{{url_for('about')}}">About</a>
            <a class="nav-item nav-link" href="{{url_for('portfolio')}}">Portfolio</a>
            <a class="nav-item nav-link" href="{{url_for('todo')}}">Tech TODO</a>
            <a class="nav-item nav-link" href="{{url_for('contact')}}">Contact Me</a>
        </div>
    </nav>

    <main class="container body-content full-height">
        {% block content %}{% endblock %}

    </main>
    <footer>
        <p>&copy; {{ year }} - SoniaRizzoDev</p><a href="{{url_for('privacy')}}" class="privacy">Privacy</a>
    </footer>

    <script src="/static/scripts/jquery-3.4.1.min.js"></script>
    <script src="/static/bootstrap/bootstrap.bundle.min.js"></script>
    <script src="/static/scripts/utils.js"></script>
    <script type="text/javascript">
        $('.menu-toggle').click(function () {
            $(this).toggleClass('open');
            $('#mobile-nav').toggleClass('open')
        });
    </script>
    {% block scripts %}{% endblock %}

</body>
</html>
