{% extends "layout.html" %}

{% block content %}

<section class="row padding-top-30">
    <div class="col-12">
        <h1 class="text-center">Portfolio</h1>
    </div>
</section>
<section class="row">
    <div class="col-12">
        <div class="row">
            <div class="col-s-12 col-md-4">
                <div class="portfolio-item">
                    <a class="title">SmartDroneConsole</a>
                    <a class="subtitle" href="https://www.globsit.com/" target="_blank">@Globsit</a>
                    <a class="img-wrapper">
                        <img src="../static/imgs/console/console_6.png" />
                    </a>
                </div>
            </div>

            <div class="col-s-12 col-md-4">
                <div class="portfolio-item">
                    <a class="title">TwitterIt</a>
                    <a class="subtitle" href="https://www.globsit.com/" target="_blank">@Globsit</a>
                    <a class="img-wrapper">
                        <img src="../static/imgs/twitterit/twitterit_2.png" />

                    </a>
                </div>
            </div>

            <div class="col-s-12 col-md-4">
                <div class="portfolio-item">
                    <a class="title">RABrooksFineArts</a>
                    <a class="subtitle">Independent</a>
                    <a class="img-wrapper">
                        <img src="../static/imgs/rabrooks/rabrooks_1.jpg" />

                    </a>
                </div>
            </div>
        </div>
    </div>
    
</section>

{% endblock %}
