{% extends "layout.html" %}

{% block content %}

<section class="row padding-top-30">
    <div class="col-12">
        <h1 class="text-center">Portfolio</h1>
    </div>
</section>
<section class="row">
    <div class="col-12">
        <div class="portfolio-item">
            <div class="row">
                <div class="col-12">
                    <a class="title">SmartDroneConsole</a>
                    <a class="subtitle" href="https://www.globsit.com/" target="_blank" rel="noopener">@Globsit</a>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 col-sm-6">
                    <a class="img-wrapper video" data-toggle="modal" data-target="#console_video_modal">
                        <img src="../static/imgs/console/console_6.png" />
                    </a>
                    <div class="modal fade" id="console_video_modal" tabindex="-1" role="dialog" aria-labelledby="console_video_modal" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title">GlobsitSmartDrones Console</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <h4>Customer side</h4>
                                    <video id="console_front" controls>
                                        <source src="../static/videos/console_front.mp4" type="video/mp4">
                                        Your browser does not support the video tag.
                                    </video>

                                    <h4>Admin side</h4>
                                    <video id="console" controls>
                                        <source src="../static/videos/GSD-Console.mp4" type="video/mp4">
                                        Your browser does not support the video tag.
                                    </video>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6">
                    <div class="description">
                        <ul>
                            <li>
                                Full-responsive Web App that helps
                                customers improving the performances of their solar
                                plants with drones and AI powered services. All the
                                software is extremely easy to use, and is having a
                                huge success with customers from all over the world!
                            </li>
                            <li>Role: Full Stack</li>
                            <li>
                                Tech Stack:
                                <a class="badge badge-pill badge-primary" target="_blank" rel="noopener" href="https://www.python.org/">Python</a>
                                <a class="badge badge-pill badge-primary" target="_blank" rel="noopener" href="https://blog.miguelgrinberg.com/post/the-flask-mega-tutorial-part-i-hello-world">Flask</a>
                                <a class="badge badge-pill badge-primary" target="_blank rel="noopener"" href="https://www.w3schools.com/html/">HTML</a>
                                <a class="badge badge-pill badge-primary" target="_blank" rel="noopener" href="https://www.w3schools.com/css/">CSS</a>
                                <a class="badge badge-pill badge-primary" target="_blank" rel="noopener" href="https://www.w3schools.com/js/">JS</a>
                                <a class="badge badge-pill badge-primary" target="_blank" rel="noopener" href="https://knockoutjs.com/index.html">knockoutjs</a>
                                <a class="badge badge-pill badge-primary" target="_blank" rel="noopener" href="https://getbootstrap.com/">Bootstrap</a>
                            </li>

                            <li>Full custom map interactions with <a class="badge badge-pill badge-primary" href="https://openlayers.org/" target="_blank" rel="noopener">OpenLayers</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<div class="row">
    <div class="col-12">
        <div class="portfolio-item">
            <div class="row">
                <div class="col-12">
                    <a class="title">TwitterIt</a>
                    <a class="subtitle" href="https://www.globsit.com/" target="_blank" rel="noopener">@Globsit</a>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 col-sm-6">
                    <div class="spotlight-group">
                        <a class="spotlight img-wrapper" href="../static/imgs/twitterit/twitterit_2.png">
                            <img src="../static/imgs/twitterit/twitterit_2.png">
                        </a>
                        <a class="spotlight hidden" href="../static/imgs/twitterit/twitterit_3.png">
                            <img src="../static/imgs/twitterit/twitterit_3.png">
                        </a>
                        <a class="spotlight hidden" href="../static/imgs/twitterit/twitterit_4.png">
                            <img src="../static/imgs/twitterit/twitterit_4.png">
                        </a>
                        <a class="spotlight hidden" href="../static/imgs/twitterit/twitterit_5.png">
                            <img src="../static/imgs/twitterit/twitterit_5.png">
                        </a>
                        <a class="spotlight hidden" href="../static/imgs/twitterit/twitterit_6.png">
                            <img src="../static/imgs/twitterit/twitterit_6.png">
                        </a>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6">
                    <div class="description">
                        <ul>
                            <li>
                                Full-responsive <a class="badge badge-pill badge-primary" target="_blank" rel="noopener" href="https://developer.mozilla.org/en-US/docs/Web/Progressive_web_apps/">PWA</a>: an online tool for AI powered Twitter live
                                sentiment analysis that lets you discover what is the
                                Twitter population generally thinking about a subject
                                and correctly anticipated the results of the
                                European 2019 election in Italy. The PWA compliance allows to use
                                <a class="badge badge-pill badge-primary" target="_blank" rel="noopener" href="https://developers.google.com/web/fundamentals/primers/service-workers">Service Workers</a> and cache management to
                                support offline behavior, as well as make the web app installable. Also managed and executed the hybrid
                                <a class="badge badge-pill badge-primary" target="_blank" rel="noopener" href="https://debuggerdotbreak.judahgabriel.com/2018/04/13/i-built-a-pwa-and-published-it-in-3-app-stores-heres-what-i-learned/">iOS</a> porting and
                                subsequent launch on the App Store.
                            </li>
                            <li>Role: Front End + iOS</li>
                            <li>
                                Tech Stack:
                                <a class="badge badge-pill badge-primary" target="_blank" rel="noopener" href="https://www.python.org/">Python</a>
                                <a class="badge badge-pill badge-primary" target="_blank" rel="noopener" href="https://blog.miguelgrinberg.com/post/the-flask-mega-tutorial-part-i-hello-world">Flask</a>
                                <a class="badge badge-pill badge-primary" target="_blank" rel="noopener" href="https://www.w3schools.com/html/">HTML</a>
                                <a class="badge badge-pill badge-primary" target="_blank" rel="noopener" href="https://www.w3schools.com/css/">CSS</a>
                                <a class="badge badge-pill badge-primary" target="_blank" rel="noopener" href="https://www.w3schools.com/js/">JS</a>
                                <a class="badge badge-pill badge-primary" target="_blank" rel="noopener" href="https://knockoutjs.com/index.html">knockoutjs</a>
                                <a class="badge badge-pill badge-primary" target="_blank" rel="noopener" href="https://getbootstrap.com/">Bootstrap</a>
                                <a class="badge badge-pill badge-primary" target="_blank" rel="noopener" href="https://cordova.apache.org/">Cordova</a>
                            </li>

                        </ul>
                    </div>
                </div>
            </div>
            <div class="look">
                <a class="btn btn btn-primary" href="https://www.twitter.it/" target="_blank" rel="noopener">Take a look</a>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-12">
        <div class="portfolio-item">
            <div class="row">
                <div class="col-12">
                    <a class="title">RABrooksFineArts</a>
                    <a class="subtitle">Independent</a>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 col-sm-6">
                    <div class="spotlight-group">
                        <a class="spotlight img-wrapper" href="../static/imgs/rabrooks/rabrooks_1.jpg">
                            <img src="../static/imgs/rabrooks/rabrooks_1.jpg">
                        </a>
                        <a class="spotlight hidden" href="../static/imgs/rabrooks/rabrooks_2.jpg">
                            <img src="../static/imgs/rabrooks/rabrooks_2.jpg">
                        </a>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6">
                    <div class="description">
                        <ul>
                            <li>
                                Full-responsive website I made as a gift to a dear friend of mine. Robert A. Brooks is an arborealist painter,
                                and I tried to showcase its art more than anything else on the website. With this occasion I tried to experiment pushing a little more
                                the limits of simplicity, using for example the very light and minimalist <a class="badge badge-pill badge-primary" target="_blank" rel="noopener" href="https://purecss.io/">PureCSS</a>
                                instead of Bootstrap. I also experimented for the first time with <a class="badge badge-pill badge-primary" target="_blank" rel="noopener" href="https://www.netlify.com/">Netlify</a>,
                                which turned out to be an awesome experience!
                            </li>
                            <li>Role: One woman band</li>
                            <li>
                                Tech Stack:
                                <a class="badge badge-pill badge-primary" target="_blank" href="https://www.w3schools.com/html/" rel="noopener">HTML</a>
                                <a class="badge badge-pill badge-primary" target="_blank" href="https://www.w3schools.com/css/" rel="noopener">CSS</a>
                                <a class="badge badge-pill badge-primary" target="_blank" href="https://www.w3schools.com/js/" rel="noopener">JS</a>
                                <a class="badge badge-pill badge-primary" target="_blank" href="https://purecss.io/" rel="noopener">PureCSS</a>
                                <a class="badge badge-pill badge-primary" target="_blank" href="https://www.netlify.com/" rel="noopener">Netlify</a>
                            </li>

                        </ul>
                    </div>
                </div>
            </div>
            <div class="look">
                <a class="btn btn btn-primary" href="https://www.rabrooksfinearts.com/" target="_blank" rel="noopener">Take a look</a>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-12">
        <div class="portfolio-item">
            <div class="row">
                <div class="col-12">
                    <a class="title">GSD - Ground Station</a>
                    <a class="subtitle" href="https://www.globsit.com/" target="_blank" rel="noopener">@Globsit</a>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 col-sm-6">
                    <a class="img-wrapper video" data-toggle="modal" data-target="#gs_video_modal">
                        <img src="../static/imgs/groundstation/groundstation.png" />
                    </a>
                    <div class="modal fade" id="gs_video_modal" tabindex="-1" role="dialog" aria-labelledby="gs_video_modal" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title">GlobsitSmartDrones Ground Station</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <video id="groundstation" controls>
                                        <source src="../static/videos/groundstation.mp4" type="video/mp4">
                                        Your browser does not support the video tag.
                                    </video>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6">
                    <div class="description">
                        <ul>
                            <li>
                                Custom drone flight control native application for the management of the <a class="subtitle" href="https://www.globsit.com/" target="_blank" rel="noopener">@Globsit</a>
                                fleet and drone operations. The application has a map integration, full drone management, full flight management and manual pilot support.
                                Also very first experience with <a class="badge badge-pill badge-primary" target="_blank" rel="noopener" href="https://kivy.org/#home">Kivy</a> as a cross-platform UI framework
                                for Python.
                            </li>
                            <li>Role: Front End</li>
                            <li>
                                Tech Stack:
                                <a class="badge badge-pill badge-primary" target="_blank" rel="noopener" href="https://www.python.org/">Python</a>
                                <a class="badge badge-pill badge-primary" target="_blank" rel="noopener" href="https://kivy.org/#home">Kivy</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-12">
        <div class="portfolio-item">
            <div class="row">
                <div class="col-12">
                    <a class="title">ServiziDigitali Medical Suite</a>
                    <a class="subtitle" href="https://www.neoteksolutions.it/" target="_blank" rel="noopener">@NeotekSolutions</a>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 col-sm-6">
                    <div class="spotlight-group">
                        <a class="spotlight img-wrapper" href="../static/imgs/neotek/neotek_1.jpg">
                            <img src="../static/imgs/neotek/neotek_1.jpg">
                        </a>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6">
                    <div class="description">
                        <ul>
                            <li>
                                Designed and developed several responsive online
                                tools being part of the same platform to help
                                medical labs and patients to more easily manage
                                appointments, at-home assistance, notifications and
                                results.
                            </li>
                            <li>Role: Full Stack</li>
                            <li>
                                Tech Stack:
                                <a class="badge badge-pill badge-primary" target="_blank" rel="noopener" href="https://docs.microsoft.com/en-us/dotnet/csharp/">C#</a>
                                <a class="badge badge-pill badge-primary" target="_blank" rel="noopener" href="https://dotnet.microsoft.com/">.NET</a>
                                <a class="badge badge-pill badge-primary" target="_blank" rel="noopener" href="https://www.w3schools.com/sql/">SQL</a>
                                <a class="badge badge-pill badge-primary" target="_blank" rel="noopener" href="https://www.w3schools.com/html/">HTML</a>
                                <a class="badge badge-pill badge-primary" target="_blank" rel="noopener" href="https://www.w3schools.com/css/">CSS</a>
                                <a class="badge badge-pill badge-primary" target="_blank" rel="noopener" href="https://www.w3schools.com/js/">JS</a>
                                <a class="badge badge-pill badge-primary" target="_blank" rel="noopener" href="https://knockoutjs.com/index.html">knockoutjs</a>
                                <a class="badge badge-pill badge-primary" target="_blank" rel="noopener" href="https://materializecss.com/">materializecss</a>
                            </li>

                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<section class="row other-works">
    <div class="col-12">
        <h3>Some Other Works</h3>
        <a href="https://www.laboratoriocataldi.it/" target="_blank" rel="noopener">https://www.laboratoriocataldi.it/ - @Neotek</a>
        <a href="http://www.ladiagnostica.it/" target="_blank" rel="noopener">http://www.ladiagnostica.it/ - @Neotek</a>
        <a href="https://www.poliambulatoriolapira.it/" target="_blank" rel="noopener">https://www.poliambulatoriolapira.it/ - @Neotek</a>
        <a href="http://www.impresaedileschinina.it/" target="_blank" rel="noopener">http://www.impresaedileschinina.it/ - @Neotek</a>
    </div>
</section>

{% endblock %}
{% block scripts %}
{{ super() }}

<script src="/static/scripts/spotlight.bundle.js"></script>
{% endblock %}