{% extends "layout.html" %}

{% block content %}

<section class="row padding-top-30">
    <div class="col-12">
        <h1 class="text-center">Portfolio</h1>
    </div>
</section>
<div class="row">
    <div class="col-12">
        <div class="portfolio-item">
            <div class="row">
                <div class="col-12">
                    <a class="title">SmartDroneConsole</a>
                    <a class="subtitle" href="https://www.globsit.com/" target="_blank">@Globsit</a>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 col-sm-6">                                           
                    <a class="img-wrapper">
                        <img src="../static/imgs/console/console_6.png" />
                    </a>                   
                </div>
                <div class="col-xs-12 col-sm-6">
                    <div class="description">
                        <ul>
                            <li>
                                Full-responsive Web App that helps
                                customers improving the performances of their solar
                                plants with drones and AI powered services. All the
                                software is extremely easy to use, and is having a
                                huge success with customers from all over the world!
                            </li>
                            <li>Role: Full Stack</li>
                            <li>
                                Tech Stack:
                                <a class="badge badge-pill badge-primary" target="_blank" href="https://www.python.org/">Python</a>
                                <a class="badge badge-pill badge-primary" target="_blank" href="https://blog.miguelgrinberg.com/post/the-flask-mega-tutorial-part-i-hello-world">Flask</a>
                                <a class="badge badge-pill badge-primary" target="_blank" href="https://www.w3schools.com/html/">HTML</a>
                                <a class="badge badge-pill badge-primary" target="_blank" href="https://www.w3schools.com/css/">CSS</a>
                                <a class="badge badge-pill badge-primary" target="_blank" href="https://www.w3schools.com/js/">JS</a>
                                <a class="badge badge-pill badge-primary" target="_blank" href="https://knockoutjs.com/index.html">knockoutjs</a>
                                <a class="badge badge-pill badge-primary" target="_blank" href="https://getbootstrap.com/">Bootstrap</a>
                            </li>
                            
                            <li>Full custom map interactions with <a class="badge badge-pill badge-primary" href="https://openlayers.org/" target="_blank">OpenLayers</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>                
    </div>    
</div>
<div class="row">
    <div class="col-12">
        <div class="portfolio-item">
            <div class="row">
                <div class="col-12">
                    <a class="title">TwitterIt</a>
                    <a class="subtitle" href="https://www.globsit.com/" target="_blank">@Globsit</a>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 col-sm-6">
                    <a class="img-wrapper">
                        <img src="../static/imgs/twitterit/twitterit_2.png" />
                    </a>
                </div>
                <div class="col-xs-12 col-sm-6">
                    <div class="description">
                        <ul>
                            <li>
                                Full-responsive <a class="badge badge-pill badge-primary" target="_blank" href="https://developer.mozilla.org/en-US/docs/Web/Progressive_web_apps/">PWA</a>: an online tool for AI powered Twitter live
                                sentiment analysis that lets you discover what is the
                                Twitter population generally thinking about a subject
                                and correctly anticipated the results of the
                                European 2019 election in Italy. Also managed and executed the 
                                <a class="badge badge-pill badge-primary" target="_blank" href="https://debuggerdotbreak.judahgabriel.com/2018/04/13/i-built-a-pwa-and-published-it-in-3-app-stores-heres-what-i-learned/">iOS</a> porting and 
                                subsequent launch on the App Store.
                            </li>
                            <li>Role: Front End + iOS</li>
                            <li>
                                Tech Stack:
                                <a class="badge badge-pill badge-primary" target="_blank" href="https://www.python.org/">Python</a>
                                <a class="badge badge-pill badge-primary" target="_blank" href="https://blog.miguelgrinberg.com/post/the-flask-mega-tutorial-part-i-hello-world">Flask</a>
                                <a class="badge badge-pill badge-primary" target="_blank" href="https://www.w3schools.com/html/">HTML</a>
                                <a class="badge badge-pill badge-primary" target="_blank" href="https://www.w3schools.com/css/">CSS</a>
                                <a class="badge badge-pill badge-primary" target="_blank" href="https://www.w3schools.com/js/">JS</a>
                                <a class="badge badge-pill badge-primary" target="_blank" href="https://knockoutjs.com/index.html">knockoutjs</a>
                                <a class="badge badge-pill badge-primary" target="_blank" href="https://getbootstrap.com/">Bootstrap</a>
                                <a class="badge badge-pill badge-primary" target="_blank" href="https://cordova.apache.org/">Cordova</a>
                            </li>
                            
                        </ul>
                    </div>
                </div>
            </div>
            <div class="look">
                <a class="btn btn btn-primary" href="https://www.twitter.it/" target="_blank">Visit</a>
            </div>
        </div>
    </div>
</div>

{% endblock %}
