body{
    font-family: 'Barlow', sans-serif;
    font-size:16pt;
    font-weight:300 !important;
}

main{
    margin-top:var(--navbar-height);
}

strong{
    font-weight:500;
}

a{
    color:var(--accent-color)
}

a:hover{
    color:var(--accent-color)
}

.welcome{
    padding:40px 0;
    font-size:2rem;
}

.welcome p{
    margin-bottom:40px;
}

.welcome a, .about a{
    background-color:var(--accent-color);
    color:white !important;
    padding:0 5px 2px 5px;
    border-radius:1px;
    font-weight:300;
    font-size:1.5rem;
    text-transform:uppercase;
    -webkit-transition: font-size .15s ease-out;
    -moz-transition: font-size .15s ease-out;
    -o-transition: font-size .15s ease-out;
    transition: font-size .15s ease-out;
}

.welcome a:hover, .about a:hover{
    text-decoration:none;
    font-size:1.7rem;
}

.about, .contacts{
    padding-bottom:60px;
}

.about p{
    margin-bottom:40px;
}

.contacts{
    display:flex;
    flex-direction:column;
    align-items:center;
}

.contacts a{    
    font-size:1.7rem;
    padding:10px;
}

.contacts .smaller{
    font-size:1.1em;
}

.contacts a i{
    position:relative;
    top:4px;
    margin:0 10px;
    font-size:1.2em;
}

.portfolio-item{
    cursor:pointer;
    line-height:20pt;
    padding:50px 0;
}

.portfolio-item .title{
    display:block;
    font-weight:300;
    font-size:1.8rem;
}

.portfolio-item .subtitle{
    font-size:0.8em;
    color:var(--accent-color) !important;
    font-weight:500;   
}

.portfolio-item .img-wrapper{
    display:block;
    margin:30px 0;
    box-shadow: 1px 1px 4px 1px rgba(200, 200, 200, .4);
    border:1px solid rgb(227, 227, 227);
    -webkit-transition: box-shadow .15s ease-out;
    -moz-transition: box-shadow .15s ease-out;
    -o-transition: box-shadow .15s ease-out;
    transition: box-shadow .15s ease-out;
}

.portfolio-item .img-wrapper:hover{
    box-shadow: 0px 0px 4px 3px rgba(255, 95, 132, 0.4);
}

.portfolio-item .img-wrapper.video{
    position:relative;
}

.portfolio-item .img-wrapper.video:before{    
    position:absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    content: "\f01d";
    font-family: FontAwesome;
    font-size: 100px;
    color: var(--accent-color);
    opacity: .8;
    text-shadow: 0px 0px 30px rgba(0, 0, 0, 0.5);      
}

.portfolio-item .img-wrapper.video:hover:before{
    color: #ff7797;
}

.portfolio-item img{
    max-width:100%;
}

.portfolio-item .description ul{
    list-style-type:circle;
}

.portfolio-item .description ul li{
    margin:20px 0;
}

.portfolio-item .look{
    text-align:right;
}

video{
    height:100%;
    width:100%;
}

.super-big-text{
    font-size:4rem;
}

.full-height{
    min-height:calc(100vh - var(--footer-height) - var(--navbar-height));
}

.v-center{
    display:flex;
    flex-direction:row;
    align-items:center;
}

.padding-top-30{
    padding-top:30px;
}

.padding-bottom-60{
    padding-bottom:60px;
}